<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {{#if logged_in}}
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id='logout' href="#">Log Out</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

<div class="text-center">

  <h2>{{event_name}}</h2>
  <p>{{description}}</p>
  {{!-- <p>Created by {{events.user.name}} on {{format_date events.createdAt}}</p> --}}
  <p>
    <span for="img" aria-label="money">💲</span>

    <span class="dollar-amount">{{format_amount total_cost}}</span>
    needed
  </p>
  <p>
    <button id= "split-bill" class="btn btn-primary">Split this bill</button>
  </p>
    <div class="text-center">
        <button class="btn btn-sm btn-danger" data-id="{{event.id}}">DELETE</button>
      </div>
</div>
<script src="./js/events.js"></script>
{{!-- <div class="text-center">


  <form class="form new-events-form">
      <div class="form-group">
        <button type="add" class="btn btn-dark">Add Participants</button>
      <input id="adduserinput" name="search" class="input" type="text" placeholder="Add Participants here"</input>
      </div>
  </form>

</div>

<script src="./js/events.js"></script> --}}


{{!-- <div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">Some placeholder content in a paragraph.</p>
    <small>And some small print.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Some placeholder content in a paragraph.</p>
    <small class="text-muted">And some muted small print.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Some placeholder content in a paragraph.</p>
    <small class="text-muted">And some muted small print.</small>
  </a>
</div>


{{!-- <div class="text-center">

  <h2>{{events_name}}</h2>

  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <span for="img" aria-label="money">💲</span>

    <span class="dollar-amount">{{format_amount total_cost}}</span>
    needed
  </p>
  <p>
    <button id= "split-bill" class="btn btn-primary"Split this bill</button>

  </p>
</div> --}}
{{!-- <script src="./js/events.js"></script> --}} 

