<!-- Loop over each object in the projects array -->

{{#each events as |event| }}

<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/events/{{event.id}}">{{event_name}}</a>

    </h2>
    <p>
      <span class="dollar-amount">{{format_amount total_cost}}</span>
      needed!
    </p>
    <p>Created on {{format_date event.created_at}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{event.description}}
    </p>
  </div>
</div>
{{/each}}


