<!-- Loop over each object in the projects array -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {{#if logged_in}}
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id='logout' href="#">Log Out</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

{{#each events as |event| }}

<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/events/{{id}}">{{event_name}}</a>

    </h2>
    <p>
      <span class="dollar-amount">{{format_amount total_cost}}</span>
      needed!
    </p>
    <p>Created on {{format_date createdAt}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{description}}
    </p>
  </div>
</div>
{{/each}}


